<h1>DADOS</h1>
<table border="1">
  <tr>
    <td>NOME</td>
    <td>IDADE</td>
    <td>PROFISSÃO</td>
  </tr>
  <tr>
    <td>{{nome}} {{sobrenome}}</td>
    <td>{{idade}}</td>
    <td>{{profissao}}</td>
  </tr>
</table>
<table border="1">
  <tr>
    <td>Matérias</td>
  </tr>
  {{#each materias}}
    <tr>
      <td>{{this}}</td>
    </tr>
  {{/each}}
</table>